.nodes-background {
  height: 500px;
  width: 800px;
  background-color: #565656;
}

.node {
  width: 60px;
  height: 50px;
  position: absolute;
  border: 1px solid black;
  border-radius: 10px;
  background: #5f98f4;
}

.connector {
  width: 8px;
  height: 8px;
  position: absolute;
  border: 1px solid black;
  border-radius: 15px;
  background: green;
}

.connector:hover {
  background: yellow;
}

.connector.connector-connecting {
  background: yellow;
}

.connection {
  height: 1px;
  background: black;
  z-index: 10;
  pointer-events:none;
}

.connection.connector-temp {
  background: red;
}

/*.node.node-dragged {
  background: red;
}*/

/*.node:hover {
  background: #9bbef7;
}*/