.nodes-background {
  height: 500px;
  width: 800px;
  background-color: #565656;
}

.node {
  width: 60px;
  height: 50px;
  position: absolute;
  border: 1px solid black;
  border-radius: 15px;
  background: #5f98f4;
}

.connector {
  width: 8px;
  height: 8px;
  position: absolute;
  border: 1px solid black;
  border-radius: 15px;
  background: green;
}

.connector:hover {
  background: #d9e0d5;
}

.connector.connector-dragged {
  background: yellow;
}

.node.node-dragged {
  background: red;
}

/*.node:hover {
  background: #9bbef7;
}*/