.nodes-background {
  height: 500px;
  width: 800px;
  background-color: #565656;
}

.node {
  width: 50px;
  height: 40px;
  position: absolute;
  border: 1px solid black;
  border-radius: 15px;
  background: #5f98f4;
}

.node.node-dragged {
  background: red;
}

/*.node:hover {
  background: #9bbef7;
}*/